/* .meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
} */

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

/*
.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
} */

* {
  max-width: 360px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.sugestion-carousel {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-wrapper {
  margin: 2%;
  margin-left: 20%;
  width: 45%;
}

.card-wrapper > h3 {
  background-color: black;
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
  width: 100%;
}

.card-wrapper-two {
  border: 2%;
  width: 20%;
}

.carousel {
  align-self: flex-end;
  bottom: 0;
  position: static;
  width: 90%;
}

.recipe-wrapper {
  display: flex;
  flex-flow: column;
}

.final-button {
  bottom: 0;
  position: fixed;
  z-index: 100;
}

.share-and-like {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
